body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(180deg, #567076 0%, #104854 100%);
    font-family: "Inter", sans-serif;
}

.nav_top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #104854;
    z-index: 999; 
}

.nav_top nav {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 96%; 
    height: 55px;
    margin-left: 1rem;
}

.nav_top .left-section {
    display: flex;
    align-items: center;
    gap: 1rem; 
}

.welcomeUser {
    color: #FDF9F9; 
    font-size: 1em; 
    font-family: Inter; 
    font-style: italic; 
    font-weight: 400; 
    white-space: nowrap;
}

.nav_left {
    position: fixed;
    top: 55px;
    left: 0;
    width: auto;
    background: linear-gradient(180deg, #D2DEE0 0%, #7D9499 100%);
    z-index: 999;
    min-height: 700px;
}

.nav_left nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 8px;
}

.nav_left p {
    font-size: 20px;
    font-weight: 700;
}

.nav_left h3 {
    font-size: 1.2em;
    font-weight: 700; 
    color: white;
    margin-top: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    padding:5px;
}

.nav_left nav ul {
    list-style: none;
    padding: 0;
    width: 100%; 
}

.nav_left nav ul a{
    text-decoration: none;
    transition: 0.3s;
    border-top: 1.8px solid transparent;
    border-bottom: 1.8px solid transparent;
    display: inline-block;
    color: white;
}

.nav_left nav ul a:hover {
    font-weight: bold;
    font-style: oblique;
}

.nav_left h3 a .icon {
    vertical-align: middle; 
    height: 1.2em; 
    width: auto; 
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.8)); 
}

.content_section {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.content_section h1{
    color: white;
    background: linear-gradient(0deg, #0B2126 0%, #1d7285 88%);
    width: 40%;
    height: 40%;
    font-weight: 700;
    margin-bottom: 10px; 
    margin-left: 150px; 
    text-align: center; 
    box-shadow: 7px 4px 3px rgba(0, 0, 0, 0.25); 
    border-radius: 10px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.content_box {
    width: 700px;
    height: auto; 
    flex-shrink: 0;
    border-radius: 26px;
    background: linear-gradient(0deg, white 0%, #EFE8E8 100%); 
    box-shadow: 7px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 44px;
    box-sizing: border-box;
    position: relative;
    margin-left: 180px;
    margin-bottom: 40px;
    color: #104854;
    display: flex;
    align-items: center;
}

.content_box table {
    width: 100%;
    border-collapse: collapse;
}

.content_box th{
    text-align: left;
    font-weight: 700;
    padding: 8px;
    width: 150px;
}

.content_box td{
    text-align: left;
    font-weight: 500;
}

.shadow-img {
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

.user-icon-container {
    float: left;
    margin-right: 10px;
    height: 80%;
    display: flex;
    align-items: left;
}

.user-icon-container img {
    height: 50%;
    width: auto;
}

.edit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EFE8E8; /* Same as the content box background */
    color: #104854; /* Same as the text color in the content box */
    border: 2px solid #104854;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px; /* Margin to separate the button from the content box */
}

.edit-button img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    width: 700px; /* Same width as content box */
    margin-left: 180px; /* Same left margin as content box */
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5)); 
}

.edit-button:hover {
transform: scale(1.07);
}